.upload-profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.upload-input {
  display: none;
}

.upload-button {
  margin-top: 10px;
}
